
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

@import "tailwindcss";


body {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --bg-color: #ffffff;
  --text-color: #06000f;
  --card-bg: #f9fafb;
}

.light {
  --bg-color: #ffffff;
  --text-color: #0a0018;
  --button-color:#0a0018;
  --button-text-color:#f9fafb;
  --gray-text:#2c2c2c;
  --card-bg: #f9fafb;
}

.dark {
  --bg-color: #06000f;
  --text-color: #f9fafb;
  --button-color:#f9fafb;
  --gray-text:#cacaca;
  --button-text-color:#06000f;
  --card-bg: #06000f;
}

.footer-text{
  color:var(--gray-text);
}

.footer-text:hover{
  color:#4349ff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background-color: var(--card-bg);
  transition: background-color 0.3s;
}


@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}
